html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      font-family: sans-serif;
    }
    .container {
      display: flex;
      height: 100%;
    }
    .left-panel {
      flex: 2;
      position: relative;
      background-color: #f4f4f4;
    }
    .right-panel {
      width: 280px;
      padding: 10px;
      overflow-y: auto;
      background-color: #f0f0f0;
      box-sizing: border-box;
    }
    .mission-entry {
      border: 1px solid #ccc;
      background: #fff;
      padding: 10px;
      margin-bottom: 0; /* margin-bottom を 0 に変更 */
      position: relative; /* 相対位置指定を追加 */
    }
    .mission-connect-controls {
      position: relative; /* 相対位置指定を追加 */
      text-align: center;
      margin-bottom: 10px;
      background-color: #f0f0f0; /* right-panel と同じ背景色 */
      padding: 5px; /* 必要に応じて調整 */
      margin-top: -5px; /* mission-entry との隙間を調整 */
    }
    .mission-entry label {
      display: block;
      margin-bottom: 5px;
    }
    .mission-controls {
      margin-top: 5px;
    }
    .mission-controls button {
      margin-left: 5px;
      font-size: 12px;
      cursor: pointer;
    }
    #tooltip {
      position: absolute;
      background-color: rgba(255,255,255,0.8);
      padding: 2px 5px;
      border-radius: 3px;
      pointer-events: none;
      display: none;
      font-size: 12px;
      color: #000;
    }
    /* アングルボタン */
    #topViewBtn, #resetViewBtn,#earthBtn {
      position: absolute;
      top: 100px;
      left: 10px;
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      cursor: pointer;
      z-index: 10;
      margin-bottom: 5px;
    }
    #resetViewBtn {
      left:75px;
    }
    #earthBtn {
      left:153px
    }
    /* CSV・天体切替用のコントロール 
    #csvControls, #celestialToggleContainer {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      background: #eee;
    }*/
    #csvControls {
  position: absolute; /* 必要に応じて調整 */
  top: 100px; /* 必要に応じて調整 */
  left: 230px; /* 必要に応じて調整 */
}
#csvControls button,#starButtons button {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
    #celestialToggleContainer label {
      display: block;
      margin: 2px 0;
    }
    /* celestialToggleContainerのヘッダー */
    #celestialToggleHeader {
      cursor: pointer;
      margin-bottom: 5px;
    }
    #celestialToggleContent {
  /* プルダウンのような外観にするためのスタイル */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
#projectNameInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.mission-altitude {
  width: 100px;
}
