body {
        font-family: sans-serif;
        margin: 0;
        display: flex;
        background-color: #fff;
        flex-wrap: wrap;
        height: 100vh; /* bodyの高さを100vhに設定 */
      }
      #input-area {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f0f0f0;
        flex-grow: 1; /* 利用可能なスペースを最大限に利用 */
      }
      #plot-area {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        flex-grow: 1; /* 利用可能なスペースを最大限に利用 */
      }
      @media (min-width: 800px) {
        #input-area {
          width: 40%;
        }
        #plot-area {
          width: 60%;
        }
      }
      @media (max-width: 799px) {
        body {
          height: auto;
        }
        #input-area,
        #plot-area {
          max-width: none;
        }
      }
      table {
        border-collapse: collapse;
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 6px;
        text-align: left;
      }
      input[type="date"],
      select,
      button {
        padding: 8px;
        box-sizing: border-box;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      .dropdown-content button {
        width: 100%;
        padding: 8px 12px;
        text-align: left;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      #plotImg {
        max-width: 100%;
      }
      #loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }
      .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
